form{
    font-family: 'Verdana';
    margin: auto;
}

#input{
    margin: 2em auto 2em auto;
    display: block;
    padding: 0.5em;
    border: 1px solid #000;
    width: 60%;
    padding: 2em;
}

.input-group{
    margin: auto;
    display: block;
    width: 100%;
}

#username-input{
    margin-bottom: 2em;
}

.reg-input-group{
    margin: 1em auto 1.5em auto;
    display: block;
    width: 40%;
}

.reg-input-group label{
    float: left;
}

.reg-input-group input{
    float: right;
}

input{
    width: 60%;
}

#registerForm{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

@media screen and (max-width: 992px) {
    #input{
        width: 100%;
    }
    input{
        width: 100%;
    }
    .input-group{
        width: 90%;
    }
    form{
        width: 90%;
    }
}