form{
    font-family: 'Verdana';
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#username-input{
    margin-bottom: 2em;
}

.input-group{
    margin: 1em auto 1.5em auto;
    display: block;
    width: 40%;
}

.input-group label{
    float: left;
}

.input-group input{
    float: right;
}

input{
    width: 60%;
}

@media screen and (max-width: 992px) {
    input{
        width: 100%;
    }
    .input-group{
        width: 90%;
    }
    form{
        width: 90%;
    }
}