#divOfChosenProducts{
    display: flex;
    flex-wrap: wrap;
}

.chosenProduct{
    display: flex;
    flex-direction: column;
}

.shoppingcartImage{
    width: 200px;
    height: 300px;
}

.deleteButton{
    border: 1px solid #000;
    font-family: 'Verdana';
    color: #000;
    background-color: #fff;
    width: 170px;
    height: 45px;
}

.price{
    
}