@media screen and (min-width: 1024px) { 
   body, footer {
       width: 55%;
       margin: 0 auto;
    }
    body {
        padding-bottom: 2em;
    }
   p {
       margin: 2em;
   }
   #cart {
       position: relative;
       display: flex;
       justify-content: right;
       font-size: 2em; 
   }
   .mobileNav {
       display: none;
   }
   .desktopNav {
       display: flex;
       justify-content: flex-start;
       font-size: 1.5em; 
   }
   .desktopNav a, .desktopNav span{
       color: white;
       text-decoration: none; 
       padding-right: 5em;
       padding-bottom: 0.2em;
       padding-left: 1em;
   }
   .dropdownDesktop {
       display: none;
       width: 10%;
       margin-top: 1.72em;
       margin-left: 8.6em;
   }
   .dropdownDesktop a {
       text-align: left;
       padding-left: 1em;
       color: black;
       display: block;
   }
   #fullSizeImg {
       display: none;
   }
   #croppedImg {
       display: block;
   }  
   #headerh1 {
       font-size: 2.5em;
       margin-top: 0;
   }
}